<!DOCTYPE html>
<html>
    <head>
        <title>Mampionona's first Blog</title>
    </head>
    <body>
        <header>
            <h1>Django Girls Blog</h1>
        </header>
        <article>
            <time>published :  14.06.2014, 12:14</time>
            <h2><a href=" ">Ny hirako 1</a></h2>
            <p>N'inona n'inona ho androko <br>
            Na finaritra aho na ory <br>
            Na ao na tsy ao ny masoandroko <br>
            Ny hirako tsy hiato akory</p>
        </article>

        <article>
            <time>published :  14.06.2014, 12:14</time>
            <h2><a href=" ">Ny hirako 2</a></h2>
            <p>Angamba raha alaina amiko <br>
                Ny mety ho ahy rehetra <br>
                Ny tiako ny ahy koa, ny taniko <br>
                Ny hirako tsy maintsy hitoetra
            </p>
        </article>
        <p>Hi there!</p>
        <p>It works</p>
    </body>
</html>